.destination1Icon {
  width: 64px;
  height: 64px;
  position: relative;
  object-fit: contain;
}

.bestTourGuide,
.whatLookedLike {
  align-self: stretch;
  position: relative;
}

.bestTourGuide {
  margin: 0;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}

.whatLookedLike {
  font-size: var(--font-size-lg);
  line-height: 160%;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
}

.categoryIcons,
.categoryLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.categoryLabels {
  align-self: stretch;
  gap: var(--gap-13xl);
}

.categoryIcons {
  width: 350px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  flex-shrink: 0;
  padding: var(--padding-45xl) var(--padding-45xl) var(--padding-79xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--black);
  font-family: var(--font-circular-std);
  margin: 10px 0;
}

@media screen and (max-width: 450px) {
  .bestTourGuide {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }

  .categoryIcons {
    gap: var(--gap-13xl);
    padding: var(--padding-23xl) var(--padding-xl) var(--padding-45xl);
    box-sizing: border-box;
  }
}